.header-list {
    display: flex;
}
.site-nav {
    display: flex;
}
.header-navigation {
    display: flex; 
    align-items: center;
}
.header-container {
    display: flex; 
    align-items: center;
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color var(--transition-duration) var(--timing-function);
    position: relative;

    &.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--header-nav-text-color);
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    }

    &:hover, &:focus {
    color: var(--header-nav-text-color);
    }
}
.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--header-nav-text-color);
}
.header-logo-color {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--header-text-color);   
}
.color-icon {
    &:hover, &:focus {
    color: var(--header-nav-text-color);
    }
}
.header-connect {
    margin-left: auto;
}
.head-logo {
    margin-right: 90px;
    padding: 24px 25px;
}
.header__list:not(:last-child) {
    margin-right: 50px; 
}
.header__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--header-second-text-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) var(--timing-function);
}
.header__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) var(--timing-function);
}
.header__icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover, &:focus {
    fill: currentColor;
    }
}
