.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    position: fixed;
    transition: opacity 800ms, visibility 800ms ;
}
.modal {
    width: 528px;
    height: 581px;
    background-color: var(--main-title-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 800ms;
    padding: 40px;
}
.backdrop.is-hidden .modal {
    transform: scale(1.5);
    transition: transform 800ms;
}
.modal-btn {
    width: 30px;
    height: 30px;
    background: var(--main-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    box-sizing: border-box;
    transition: fill var(--transition-duration) var(--timing-function);

    &:hover {
    fill: var(--main-btn-color);
    }
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.title-modal {
    font-size: 20px;
    color: var(--main-text-color);
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    outline: none;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color var(--transition-duration) var(--timing-function);

    &:focus {
    + .form-svg {
        fill: var(--main-btn-color);
    }

    border: 1px solid var(--main-btn-color);
    }
}
.form-input-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
}
.modal-form-text {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    outline: none;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color var(--transition-duration) var(--timing-function);

    &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
    border: 1px solid var(--main-btn-color);
    }
}
.agreement-checkbox {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    font-size: 14px;
}
.contract-link {
    color: var(--main-btn-color);
}
.modal-form-btn {
    display: block;
    background: var(--main-btn-color);
    color: var(--main-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}
.modal-field {
    position: relative;
    display: block;
}
.form-svg {
    position: absolute;
    left: 12px;
    top: 11px;
    transition: fill var(--transition-duration) var(--timing-function);
}
.checkbox {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 15px;
    appearance: none;
    position: absolute;

    &:checked + .checkbox-icon {
    border-color: var(--main-btn-color);
    background-color: var(--main-btn-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    }
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}
.agreement-text {
    margin-left: 7px;
}
.icon-modal:hover {
    fill: var(--main-btn-color);
}
