.subject-container {
    padding-top: 94px;
}
.subject-list {
    display: flex;
    flex-wrap: wrap;   
}
.subject__item:not(:last-child) {
    margin-right: 30px;
    width: 270px;
}
.subject__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border: none;
    background-color: #f5f4fa;
    border-radius: 4px;
}
.subject__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}
.subject__text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
    width: 270px;
}