:root{
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-btn-color: #2196F3;
    --second-btn-color: #000000;
    --header-text-color: #212121;
    --header-second-text-color: #757575;
    --header-nav-text-color:  #2196F3;
    --hero-section-color: #2F303A;
    --portfolio-card-gap: 30px;
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}